*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 6px;
}
body{
    font-family: 'lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;

}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    font-family:'Montserrat', sans-serif;

}
a{
    text-decoration: none;
}
section{

    height: 90rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.btn{
    font-size: 2rem;
    padding: 2.0rem;
    font-weight: 400;
    display: inline-block;
    margin-top: 5rem;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 0.4rem;
    color:rgba(44, 44, 44);
}
.btn-social{
width: 5rem;
height: 5rem;
border-radius: 50%;
font-size: 2rem;
line-height: 2rem;
}
.btn-large{
    font-size: 2rem;
    padding-bottom: 2.2rem 1.6rem;

}
.btn-outline{
    color:#fff;
    border-color: rgba(44, 44, 44);
    background-color: rgba(44, 44, 44);
}
.btn-outline:hover{
    background-color:#faf09a;
    color: rgba(44, 44, 44);
    cursor: pointer;
}
.btn-primary{
    background-color: #faf09a;
    border-color: rgba(44, 44, 44, 0.801);
    padding: 1.5rem 1.9rem;

}
.btn-primary:hover{
    background-color:rgba(44, 44, 44);
    color: #faf09a;
    cursor: pointer;
}
ul{
    list-style: none;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.clearfix::after{
    content: "";
    display:block;
    clear: both;
}
.col {
	float: left;
	width: 100%;
	padding: 1rem;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
@media (min-width: 576px){
 .container{
    max-width: 540px;
 }
 html{
     font-size: 7px;
 }
}
@media (min-width: 768px){
.container{
     max-width: 720px;
 } 
 html{
    font-size: 8px;
}
.col {
	float: left;
	width: 50%;
	padding: 1rem;
}
}
@media (min-width: 992px){
    .container{
     max-width: 960px;
    } 
    html{
        font-size: 9px;
    }
    .col {
        float: left;
        width: 33%;
        padding: 1rem;
    }
}
@media (min-width: 1200px){
    .container{
     max-width: 1140px;
    }
    html{
        font-size: 10px;
    }
}
.text-uppercase{
    text-transform: uppercase;
}
/*navigation bar*/
nav{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(44, 44, 44);
    color: #fff;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    position: fixed;
    z-index: 500;
}
#logo-box{
    float: left;
    padding-top: 0.5rem;
}
#logo-box .logo{

    color: #faf09a;
    font-weight: 700;
    font-size: 3.2rem;
}
#nav-links{
    float: right;

}
#nav-links .nav-item{
    float: left;
    margin: 0.4rem;
    margin-top: 1.5rem;

}
#nav-links .nav-link{

    color: #faf09a;
    font-size: 2rem;
    font-weight: 700;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.3s;
}
#nav-links .nav-link:hover{
    color: #ffffff;
}
.nav-link-icon{
    display: none;
}
@media (max-width:992px){
    #logo-box{
        float:none;
        text-align: left;
    }
    #nav-links{
        float:none;
    }
    #nav-links .nav-item{
        float: none;
        text-align: left;
        padding-bottom: 1.2rem;
    }
    #navl-links .nav-link{
        font-size: 2rem;
        padding-left: 0;
    }
    #nav-links .nav-link-icon{
        display: block;
        position: absolute;
        top: 10px;
        right: 5px;
        font-size: 3rem;
    }
    
}
/*header*/
header{
    background-color: #f8ef9f;
    padding-top:212px;
    padding-bottom: 112px;
    text-align: center;
}
header h1{
    color: rgb(44, 44, 44);
    font-size: 76px;
}
header h2{
    color:rgb(44, 44, 44);
    Font-Family: 'Lato';
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 40px;
}
.dark{
    border: none;
    border-top: 0.4rem solid rgb(44, 44, 44);
    padding: 5px;
    max-width: 45rem;
    margin: 2.5rem auto ;

}
#downward-arrow{
    color: rgb(44, 44, 44);
    margin-top: 0px;
    padding-top: 0px;
}
/*portfolio*/

#portfolio{
    background-color: rgb(235, 252, 188);
}
#portfolio h2{
    margin-top: 4.5rem;
    font-size: 4.8rem;
    color: rgb(44, 44, 44);
}
.portfolio-item {
	position: relative;
}

.portfolio-item img {
	display: block;
}


.img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(44, 44, 44);
	opacity: 0;
	transition: opacity .5s ease;
}


.img-overlay .icon {
	color: rgb(255, 255, 255);
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.portfolio-item:hover .img-overlay {
	opacity: 0.8;
}
#about{
    background-color: khaki;
    height: 800px;
    color: rgb(44, 44, 44);
}
#about h2{
    font-size: 4.8rem;
    margin-top: 4.5rem;
}
#about-text{
    text-align: left;
}
#about-text .left{
    float:none;
    width: 100%;
    padding-right: 5px;
    padding-left: 25px;
}
#about-text .right{
    float:none;
    width: 100%;
    padding-right: 5px;
    padding-left: 25px;
}
@media (min-width:992px){
        
    #about-text .left{
        float:left;
        width: 50%;
        padding-right:10px ;
        padding-left: 210px;
    }
    #about-text .right{
        float:right;
        width: 50%;
        padding-right: 210px;
        padding-left: 10px;
    }
}
#about-text .text {
    font-size: 2rem;
    Font-Family: 'Lato';
}
#contact{
    background-color:rgb(235, 252, 188);
}
#contact h2{
    font-size: 4.8rem;
    margin-top: 4.5rem;
}
#contact-form{
    width: 70%;
    margin: 0 auto;
    text-align: left;
}
.form-group{
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 3rem;
    margin-bottom: 4 rem;
    margin-left: 20rem;
    margin-right: 20rem;
    text-align: left;
}

.form-group input,.form-group textarea {
	border: none;
	width: 100%;
	display: block;
	font-size: 2.4rem;
    padding: 1rem 1rem 1rem 1rem;
}

.form-group input:focus {
	outline: 0;
}
footer{
    padding-top: 6rem;
    padding-bottom: 20rem;
    background-color: rgb(44, 44, 44);
    color: khaki;
    text-align: center;
}
footer h4{
    font-size: 2.4rem;

}
footer p{
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}
footer li{
    display: inline-block;
    margin-right: 1rem;
}
.copyright{
    background-color: rgb(31, 31, 31);;
    padding-bottom: 2.4rem;
    padding-top: 2.4rem;
    color: rgb(228, 222, 169);
    text-align: center;
    font-family:'Montserrat', sans-serif;
}
